.meta-field {
	margin: 0 0 1.5rem;
}

#meta-list .meta_key {
	margin: 0 0 5px;
}

.taxonomy-meta-ui-new-value {
	margin: .5rem 0;
}

.taxonomy-meta-ui-enter-new,
.taxonomy-meta-ui-cancel-new {
	display: inline-block;
	text-decoration: none;
}

#selectnew,
.taxonomy-meta-ui-enter-new {
	display: inline-block;
	margin-bottom: 5px;
}

.taxonomy-meta-ui-cancel-new {
	margin-bottom: 1rem;
}

.taxonomy-meta-ui-new-key,
.taxonomy-meta-ui-cancel-new {
	display: none;
}

.field-description {
	font-style: italic;
}

.taxonomy-meta-ui-delete-list {
	display: none;
}
